alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1599849174714/work
ansi2html @ file:///home/conda/feedstock_root/build_artifacts/ansi2html_1605638160042/work
argon2-cffi @ file:///tmp/build/80754af9/argon2-cffi_1596828452693/work
async-generator==1.10
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
backcall==0.2.0
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blinker==1.4
bqplot @ file:///home/conda/feedstock_root/build_artifacts/bqplot_1602539707282/work
Brotli @ file:///home/conda/feedstock_root/build_artifacts/brotli-split_1603546189128/work
brotlipy==0.7.0
certifi==2020.11.8
certipy==0.1.3
cffi @ file:///tmp/build/80754af9/cffi_1600699180754/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1602255309768/work
click==7.1.2
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1604179075887/work
cycler==0.10.0
cytoolz==0.11.0
dash @ file:///home/conda/feedstock_root/build_artifacts/dash_1604061089786/work
dash-bootstrap-components @ file:///home/conda/feedstock_root/build_artifacts/dash-bootstrap-components_1601845474246/work
dash-core-components @ file:///home/conda/feedstock_root/build_artifacts/dash-core-components_1604054628327/work
dash-html-components @ file:///home/conda/feedstock_root/build_artifacts/dash-html-components_1599715712112/work
dash-renderer @ file:///home/conda/feedstock_root/build_artifacts/dash-renderer_1604054245287/work
dash-table @ file:///home/conda/feedstock_root/build_artifacts/dash-table_1604056396782/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1602029610262/work
decorator==4.4.2
defusedxml==0.6.0
entrypoints==0.3
fastparquet @ file:///tmp/build/80754af9/fastparquet_1598038641197/work
Flask==1.1.2
Flask-Compress @ file:///home/conda/feedstock_root/build_artifacts/flask-compress_1604422164145/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1605203483395/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
ipydatawidgets @ file:///home/conda/feedstock_root/build_artifacts/ipydatawidgets_1601289838787/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1598883837425/work
ipython-genutils==0.2.0
ipyvolume @ file:///home/conda/feedstock_root/build_artifacts/ipyvolume_1591796094004/work
ipywebrtc @ file:///home/conda/feedstock_root/build_artifacts/ipywebrtc_1602777419853/work
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1599554010055/work
itsdangerous==1.1.0
jedi @ file:///tmp/build/80754af9/jedi_1596490743326/work
Jinja2==2.11.2
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1602551949684/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1602537277085/work
jupyter-dash @ file:///home/jmmease/anaconda3/conda-bld/jupyter-dash_1595331910542/work
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1602854561108/work
jupyter-telemetry==0.0.5
jupyterhub==1.1.0
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupytext @ file:///home/conda/feedstock_root/build_artifacts/jupytext_1599001341492/work
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1604014532738/work
llvmlite==0.34.0
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1595925083607/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1603257291343/work
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1594371495811/work
matplotlib @ file:///tmp/build/80754af9/matplotlib-base_1603376012865/work
mistune @ file:///tmp/build/80754af9/mistune_1594373098390/work
mkl-fft==1.2.0
mkl-random==1.0.4
mkl-service==2.3.0
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///tmp/build/80754af9/nbconvert_1601914821128/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1602732862338/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1605103637912/work
numba @ file:///tmp/build/80754af9/numba_1600102479638/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233707986/work
oauthlib==3.0.1
olefile==0.46
packaging==20.4
pamela==1.0.0
pandas @ file:///tmp/build/80754af9/pandas_1602088128026/work
pandocfilters==1.4.2
parso==0.7.0
pexpect @ file:///tmp/build/80754af9/pexpect_1594383317248/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1594384075987/work
Pillow @ file:///tmp/build/80754af9/pillow_1603822253009/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1606143421337/work
prometheus-client==0.8.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
ptyprocess==0.6.0
pyarrow==0.15.1
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycurl==7.43.0.6
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1602259985647/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1602326924965/work
python-dateutil==2.8.1
python-editor==1.0.4
python-json-logger @ file:///home/conda/feedstock_root/build_artifacts/python-json-logger_1602545356084/work
pythreejs @ file:///home/conda/feedstock_root/build_artifacts/pythreejs_1602505201544/work
pytz==2020.1
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1602504439149/work
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole @ file:///tmp/build/80754af9/qtconsole_1600870028330/work
QtPy==1.9.0
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1592425495151/work
retrying==1.3.3
ruamel.yaml @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml_1602413189583/work
ruamel.yaml.clib @ file:///home/conda/feedstock_root/build_artifacts/ruamel.yaml.clib_1602268864115/work
scikit-image==0.16.2
scipy @ file:///home/conda/feedstock_root/build_artifacts/scipy_1604304773994/work
Send2Trash==1.5.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1602547018426/work
terminado==0.9.1
testpath==0.4.4
thrift==0.11.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado==6.0.4
traitlets==4.3.3
traittypes @ file:///home/conda/feedstock_root/build_artifacts/traittypes_1600843364635/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1603125704209/work
voila @ file:///home/conda/feedstock_root/build_artifacts/voila_1603186859398/work
voila-gridstack @ file:///home/conda/feedstock_root/build_artifacts/voila-gridstack_1600715759512/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1603668650351/work
